*{
    margin: 0px;
    padding: 0px;
    list-style: none;

}

#buscador {
    padding-left: 5px;
}


.flex p {
    margin: 0 3px;
}


#contenedorCarro {
    width: 400px;
    min-height: 200px;
    border: 2px black solid;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: pink
    
}

.boton {
    color: red;
    justify-content: center;
    text-align: center;

}

.foto {
    height: 200px;
    width: 200px;
    padding-left: 5px;
}
.producto img {
    width: 150px;
    height: 150px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 10px;
}
.h5nav { 
    border-right: solid;
    border-right-color:white;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#navbar {
    background-color: rgb(221, 125, 141);
}
.nav-link{
    color: white;
}

.footer {
    border: 1px solid black;
    
    background-color: pink;
    
}

.listaNav {
    display: flex;
    justify-content: center;

}

.containerNav {
    display: flex;
    justify-content: center;
    background-color: aqua;
        border: 1px solid black;
    
    
}

.listaNav li {
    margin: 10px;
    padding: 40px;
    text-align: center;
    
}

.header {
    background-color: rgb(221, 125, 141);
    border: 1px solid black;
    text-align: center;

    
}

.h2 {
   color: rgb(221, 125, 141);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
   
}
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}
.card-img-top {
    width: 100%;
    height: 250px;
    
}

.card-body {
    text-align: center;
    background-color: aquamarine;
}

.contenedor {
    background-color: aquamarine;
}
.main {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aquamarine;
    
}


.body {
    background-color: aquamarine;
}

